.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.*
!.gitignore
!.gitattributes
!lib/zshenv/.zshrc
*~
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
cabal.config
cabal.sandbox.config
*.tix
*.bak
debug.txt
log.txt
last-checkpoint.txt
email.txt
firewall.txt
checkpoints.txt
usage.txt
client-debug.txt
client-log.txt
test-atlas
test-atlas-client
benchmarks/csv
benchmarks/chart.png
test-state
changelogs/*/summary.md
coverage/*/atlas.tix
coverage/*/report.md
benchmarks/*/perf.txt
.stack-work
